[Pluma Tool]
Name=Search
Name[am]=መፈለጊያ
Name[bg]=Търсене
Name[ca]=Cerca
Name[cs]=Hledat
Name[da]=Søg
Name[de]=Suchen
Name[el]=Αναζήτηση
Name[en_GB]=Search
Name[fr]=Rechercher
Name[hu]=Keresés
Name[id]=Cari
Name[it]=Ricerca
Name[ja]=検索
Name[kk]=Іздеу
Name[ko]=검색
Name[lt]=Ieškoti
Name[ms]=Gelintar
Name[nb]=Søk
Name[nl]=Zoeken
Name[pl]=Szukaj
Name[pt]=Procurar
Name[pt_BR]=Pesquisar
Name[ru]=Поиск
Name[sk]=Vyhľadanie
Name[sl]=Iskanje
Name[sr]=Потражи
Name[tr]=Ara
Name[uk]=Пошук
Name[zh_CN]=搜索
Name[zh_TW]=搜尋
Shortcut=<Primary><Shift>f
Languages=
Applicability=local
Input=document
Output=output-panel
Save-files=nothing

